name: nertc_core
description: A Flutter plugin for NetEase RTC SDK, It can help you integrate SDK quickly and realize basic functions of Real-Time Communication.
homepage: https://doc.yunxin.163.com/nertc/guide/Dc0NTg0NzM?platform=flutter
repository: https://github.com/netease-im/NERTC-Flutter-SDK
version: 5.9.11+1

#publish_to: 'none'
environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

  yunxin_alog: ^2.0.0
  path_provider: ^2.1.5
  crypto: ^3.0.0
  ffi: ^2.0.1

  
  nertc_core_platform_interface: ^5.9.11
#  nertc_core_platform_interface:
#    path: ./../nertc_core_platform_interface

dev_dependencies:
  ffigen: ^7.0.0
  flutter_test:
    sdk: flutter

  pigeon: ^9.0.6

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.netease.nertcflutter
        pluginClass: NERtcCorePlugin
      ios:
        pluginClass: NERtcCorePlugin
      macos:
        pluginClass: NERtcCorePlugin
        ffiPlugin: true
      windows:
        pluginClass: NertcCorePluginCApi
        

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
