name: main

on:
  push:
    branches: 
      - master
      - develop
      - release/*
  pull_request:
    branches: 
      - master
      - develop
      - release/*

jobs:
  build:

    runs-on: macos-latest


    steps:
    - uses: actions/checkout@v2
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Set up Flutter
      uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.20.4'

    - run: flutter pub get
      
    - name: Build Android
      run: flutter build apk
      working-directory: ./example
    
    - name: Build iOS
      run: flutter build ios --release --no-codesign
      working-directory: ./example
