name: build

on:
  push:
    branches: 
      - main
      - master
      - develop
      - release/*
  pull_request:
    branches: 
      - main
      - master
      - develop
      - release/*

jobs:
  build:

    runs-on: macos-latest


    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.32.0'

    - name: Get dependencies
      run: flutter pub get
      working-directory: ./example
      
    - name: Build Android
      run: flutter build apk
      working-directory: ./example
    
    - name: Build iOS
      run: flutter build ios --release --no-codesign
      working-directory: ./example
